<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Your App</title>
</head>

<body>
  <div id="root"></div>
  <script>
    if (utools.isDarkColors()) {
      const link = document.createElement("link");
      link.rel = "stylesheet";
      link.href = "./antd.dark.min.css";
      document.body.style.backgroundColor = '#303133';
      document.head.append(link);
    }
  </script>
</body>

</html>
