.number {
  input {
    text-align: right;
    padding-right: 10px !important;
    font-weight: bolder;
  }
}
.drag {
  margin-right: 10px;
}
:global(.smooth-dnd-container) {
  display: flex !important;
  flex-flow: wrap;
}
